# Build dirs:
bin
release
dist
build
run

# Gradle
.gradle

## IDE

# IntelliJ IDEA
out
*.iml
*.ipr
*.iws
.idea

# Eclipse
*.launch
.settings
.metadata
.classpath
.project
eclipse

# NetBeans
nbproject

# ViM
.*.sw[a-p]

# Garbage
Thumbs.db
*.log
*.bak