# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
*.factorypath

# gradle
build
.gradle

# other
eclipse
run*

classes
logs
/.apt_generated/
/Java Projects/
